.bg{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../img/fon.jpg") no-repeat;
  background-size: cover;
}
nav .brand-logo{
  padding-left: 2rem;
}
nav ul a{
  font-size: 1.5rem;
  padding: 0 30px;
}