
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
h1.header{
    font-size: 2.5rem;
}

.card .card-image img {
    border-bottom: 1px solid #e0cccc;
    max-height: 14rem;
    min-height: 14rem;
}
.slider h3{
    text-shadow: 2px 4px 1px #000000;
}
.slider h5{
    text-shadow: 2px 4px 1px #000000;
}
.slider .indicators .indicator-item.active {
    background-color: #80cbc4;
}
.chip {
    display: inline-block;
    height: 60px;
    font-size: 19px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.6);
    line-height: 60px;
    padding: 0 12px;
    border-radius: 25px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 5px;
}
.chip > img {
    float: left;
    margin: 0 8px 0 -12px;
    height: 60px;
    width: 40px;
    border-radius: 50%;
}

.manikyr{
    margin-top: 2rem;
}
.manikyr img{
    width: 100%;
    border: 5px solid #80cbc4;
    max-height: 50vh;
}
.bw {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.bw:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}